@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.boxShadow:hover {
    box-shadow: 0px 0px 12px 4px #2e7272;
 }

.header {
    backdrop-filter: blur(12px); /* Apply the blur effect */
    -webkit-backdrop-filter: blur(12px); /* For Safari */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header_a {
    text-decoration: none;
    color: #2e7272;
    border-radius: 4px;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
}

.header_a:hover {
    background-color: #7AB2B2;
    color: #EEF7FF;
    box-shadow: 0px 0px 4px #7AB2B2;
}

.header_button {
    border: 1px groove #7AB2B2;
    color: #2e7272;
    border-radius: 4px;
    padding: 8px 12px;
    transition: background-color 0.4s ease;
    box-shadow: 0px 0px 4px #569b9b;
}

.header_button:hover {
    color: #EEF7FF;
    background-color: #7AB2B2;
}


body {
    background: linear-gradient(270deg, #6C22A6, #CED9E0, #ff9fb1, #bde7b4);
    background-size: 600% 600%;
}

.bg-blur {
    backdrop-filter: blur(40px);
}

.active {
    color: #4D869C;
    background: rgba(238, 247, 255, 0.4);
    border: none;
    border-radius: 100px;
}